//- /*---------- Mixin Featured Item ----------*/
mixin featuredItem(image, alt, icon = '', status, namehouse, price, person_image, person_alt, person_name, person_address)
  li.featured-item
    .featured-image
      img(src= image, alt= alt)
      .button.featured-status
        if icon
          case icon
            when 'icon-fire'
              include ../icons/_icon-fire
            when 'icon-house'
              include ../icons/_icon-house
            when 'icon-wallet'
              include ../icons/_icon-wallet
        span= status
    .featured-info
      span.featured-namehouse= namehouse
      span.featured-price= price
    .featured-person
      img.featured-person-image(src= person_image, alt= person_alt)
      .featured-person-info
        span.featured-person-name= person_name
        span.featured-person-address= person_address

//- /*---------- Mixin AboutUs Item ----------*/
mixin aboutItem(image, alt, title, caption, person_image, person_alt, person_name, person_bio, point)
  li.about-item
    img.about-image(src= image, alt= alt)
    .about-info
      h3.heading.about-title= title
      p.about-caption= caption
      .about-person
        .about-left
          img.about-person-image(src= person_image, alt= person_alt)
          .about-person-info
            span.about-person-name= person_name
            span.about-person-bio= person_bio
        .about-right
          include ../icons/_icon-star
          span.about-point= point

//- /*---------- Mixin Tips Item ----------*/
mixin tipsItem(article_image, article_alt, person_image, person_alt, person_name, article_title, time)
  .tips-article
    img.tips-article-image(src= article_image, alt= article_alt)
    .tips-article-info
      .tips-person
        img.tips-person-image(src= person_image, alt= person_alt)
        span.tips-person-name= person_name
      h3.tips-article-title= article_title
      .tips-access-time
        include ../icons/_icon-access-time
        span.tips-time= time